*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 132, 252);
}

.title{
    width: 500px;
    height: 50px;
    background-color: rgb(42, 165, 42);
    text-align: center;
    padding-top: 10px;
}

div{
    width: 500px;
    height: 850px;
    background-color: rgb(99, 42, 165);
    overflow-x: auto;
    overflow-y: auto;
}

table{
    border-collapse: collapse;
    box-shadow: 5px 5px 15px black;
    width: 1850px;
    height: 1080px;
    
}
    

thead>tr>th{
    position: sticky;
    top:0;
    z-index: 10;
}

th{
    position: sticky;
    left:0;
}

td,th{
    color: white;
    border: 2px solid rgb(255, 255, 255);
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}

td{
    background-color:rgb(53, 53, 53);
}

th{
    background-color:rgb(116, 115, 115);
    font-weight: 900;
}

caption{
    font-size: 2em;
}